html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --pomodoro: hsl(223, 25%, 40%);
    --shortBreak: hsl(48, 23%, 40%);
    --longBreak: hsl(105, 16%, 40%);
  }
  
  body {
    background-color: var(--pomodoro);
    transition: background-color 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
  }
  
  progress {
    border-radius: 2px;
    width: 100%;
    height: 5px;
    position: fixed;
    top: 0;
  }
  
  progress::-webkit-progress-bar {
   background-color: rgba(0, 0, 0, 0.1);;
  }
  
  progress::-webkit-progress-value {
    background-color: rgb(201, 64, 30);
  }
  
  .timer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  }
  
  .clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
  }
  
  .mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: whitesmoke;    
    border-radius: 4px;
    padding: 1px 12px;
    background: rgb(83, 82, 74);
  }
  
  .mode-button.active {
    border-color: #fff;
  }
  
  .main-button {
    cursor: pointer;
    box-shadow: rgb(59, 53, 51) 0px 6px 0px;
    font-size: 30px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(194, 35%, 93%);
    font-weight: bold;
    width: 200px;
    background-color: rgb(87, 93, 95);
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
  }
  
  button:focus, button:active {
    outline: none;
  }
  
  .main-button.active {
    transform: translateY(8px);
    box-shadow: none;
    outline: none;
  }
  
  .hidden {
    display: none;
  }
  
 /* todos */

.todos h3{  
    font-size: 25px;   
 
}

 .todos{
  position: fixed;
  top:60% ;
  left :38%;
  text-align: center;
}

form input, form button{
  margin-top: 10px;
  padding: 0.5rem;
  font-size:2rem ;
  border: none;
  background-color: white;
}
form button {
  color:rgb(95, 83, 55);
  background-color: rgb(167, 161, 122);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background-color: rgb(185, 169, 46);
  color:rgb(77, 76, 72);
}

.todo-container{
 position: fixed;
 top:70% ;
 left: 47% ;
}

.todo-container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

/* js classes */

.todo{
  margin: 0.5rem ;
  background-color: rgb(206, 180, 161);    
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250%;
  transition: all 1s ease;
}

.todo li{
  flex : 1;
}

.complete-btn , .delete-btn{
  background-color: rgb(201, 64, 30);
  color:white ;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem; 
}
.complete-btn {
background-color: rgb(42, 187, 42);
}

.fa-check-circle ,.fa-trash-alt{
pointer-events: none;
}


.completed{
text-decoration: line-through;
opacity:0.5;
}

.fall{
transform: translateY(8rem) rotateZ(25deg);
opacity: 0;
}
